/* dropdown  in recommended */

.recommended{
    flex-basis: 30%;
}
.side-viedo-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.side-viedo-list img{
    flex-basis: 49%;
    width: 50%;
}

.vid-info{
    flex-basis: 49%;
}

.vid-info h4{font-size: 13px;
margin-bottom: 5px;
}